a[disabled] {
    pointer-events: none;
}

.connexionField{
    margin: 10px;
}

#btnConnexion{
    width: 150px;
    margin: 0 auto;
}

.headerApp{
}

.headerApp a{
    display: inline-block;
    margin-top: 5px;
    width: 45px;
}

.headerApp h1{
    display: inline;
}

.secondHeader{
    height: 20px;
    background-color: rgb(255, 135, 65);
    text-align: center;
    color: white;
}

.secondHeader h2{
    font-weight: 300;
}

.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 0 !important;
}

.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

.logo{
    margin: 0 auto;
    display: block;
}


#qrCode{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 80%;
}

#guestsListFooterBtnQrcode, #guestsListLocalFooterBtnQrcode{
    background:  url(../img/icons/ic_action_qrcode.png) 50% 10% no-repeat;
    background-size: 25px 25px;
}

#guestsListFooterBtnImport{
    background:  url(../img/icons/ic_action_download.png) 50% -20% no-repeat;
    background-size: 40px 40px;
}

#guestsListFooterBtnSettings, #infoGuestFooterBtnSettings{
    background:  url(../img/icons/ic_action_settings.png) 50% -20% no-repeat;
    background-size: 40px 40px;
}

.btnTypeUsage{
    width: 110px;
    height: 120px;
}

#divTypeUsage{
    text-align: center;
}

.btnTypeUsage{
    padding: 70px 15px;
}

.statusListView{
    float: right;
    font-weight: 600;
    font-size: small;
    margin-right: 10px;
}

.status1, .status2, .status4, .status5, status7{
    color: grey;
}

.status3{
    color: green;
}

.status6, .status8{
    color: red;
}

/*
.behindOptionListView {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100px;
}
.behindOptionListView a.changeStatusBtn {
    width: 68px;
    margin: 0px;
    float: right;
    border: none;
}

.changeStatusBtn{
    height: 100%;
}
*/

#guestData, #guestDataLocal{
    padding: 20px;
    line-height: 2;
}

.infoGuestStatus, .infoGuestStatusLocal{
    float: right;
    font-size: 1.2em;

}

#infoGuestFooterBtnCheck, #infoGuestLocalFooterBtnCheck{
    background:  url(../img/icons/ic_action_check.png) 50% 10% no-repeat;
    background-size: 30px 30px;
}

#infoGuestFooterBtnCancelt, #infoGuestLocalFooterBtnCancelt{
    background:  url(../img/icons/ic_action_cancel.png) 50% 10% no-repeat;
    background-size: 30px 30px;
}

#guestsListLocalFooterBtnExport{
    background:  url(../img/icons/ic_action_upload.png) 50% 10% no-repeat;
    background-size: 30px 30px;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

#dialogPageExport{
    z-index: 1001;
}